.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .item {
    text-decoration: none;
    color: #324b5d;
}

.dialogsItems :hover {
    text-decoration: none;
    color: #6fa9bd;
}

.dialogsItems .active {
    text-decoration: none;
    color: #ffffff;
}

.dialogsMessages {
    padding: 10px;
}

.dialogsMessages .message {
}
